@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-background;
  }
}

@layer components {
  .card {
    @apply bg-surface-card rounded-2xl p-6 transition-all duration-300 hover:bg-primary-200;
  }

  .clip-path-right {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      0 0,
      100% 0,
      100% 100%,
      0 100%
    );
    margin-right: -1rem;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-600 to-primary-800;
  }
}