<!doctype html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6VF4TWGWW6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6VF4TWGWW6');
</script>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		{% include "components/site-header.njk" %}

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}
	</body>

</html>
